@media screen and (min-width:1030px) {
  .navbar{
    height: 60px;
    width: 100%;
    border-bottom: 2px solid green;
    background-color: #383838;
  }
  .links{
    float: right;
    font-size: 14px;
    width: auto;
  }
  .links .dropdown{
      display: none;
    }
  .navbar h2{
    color: white;
  text-align: center;
  }
  .menu{
    display: block;
  }
  .select{
    display: none;
  }
}
@media screen and (max-width: 1030px) {
  .menu{
    display: none;
  }
  .select{
    display: inline-block;
  }
  .navbar{
    height: 60px;
    width: 100%;
    border-bottom: 2px solid green;
    background-color: #383838;
  }
  .links{
    display: flex;
    flex-direction: row;
    left:0px;
    font-size: 12px;
    width: auto;
  }
  .links .dropdown{
      display: inline-block;
    }
  .nav:hover{
    text-decoration: none;
  }
  .navbar h2{
    color: white;
  text-align: center;
  font-size: 24px;
  }
}
