.detail_post{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2%;
  background-color: #e6ffe6;
  margin:20px 250px;
}
.edit{
	float: right;
	width: 100px;
	height: 35px;
}
.titlu{
	display: inline;
}
.post_title{
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}