.post{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  background-color: #e6ffe6;
}
.content{
  padding: 20px;
}
.image_div{
	display: flex;
	justify-content: space-around;
}
.title{
  background-color: white;
	padding: 10px 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.continue{
	display: flex;
	justify-content: space-around;
}
