.home{
  margin-top:5%;
}
.post{
  color: black;
  text-decoration: none;
}
.home-find{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin-bottom: auto;
  margin-top:6%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.home-find button{
  width: 190px;
}
.home-find label{
  font-size: 18px;
}
.find_result{
  margin-top: 25px;
  width: 100%;
  height: 400px;
}
.footer_bottom{
  margin:auto;
  margin-bottom: 14.5%;
}
