.post{
  color: black;
  text-decoration: none;
}
.home-find{
  padding: 10px;
  margin-bottom: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 730px) {
  .home-find{
    display: none
  }
}
