.home{
  margin-top:5%;
}
.post{
  color: black;
  text-decoration: none;
}
.home-find{
  padding: 10px;
  margin-bottom: auto;
  margin-top:6%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer_bottom{
  margin:auto;
  margin-bottom: 14.5%;
}

.home-find input{
  margin-left: 0px;
}
